.font-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 48px;
}
.font-nomal{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.font-size-normal {
    ont-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}
.font-small{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}