@import"font.css";
html {
    scroll-behavior: smooth;
}

.box-main-title{
    margin-top: 10px;
    background-color: #144E8C;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.content-title{
    padding-top: 20px;
    margin-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.box-question{
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.title-question{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.chart{
    padding-left: 40px;
    width: 100% !important;
    overflow: auto;
}
.list-question{
    margin-top: 48px;
    background-color:#F6F8F8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    list-style: none;
    margin-left: 50px;
    margin-right: 45px;
}
.question-element{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #000;
    margin-left: -40px;
    padding: 10px 10px 10px 10px;
}
.list-question .question-element a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.list-answers{
    list-style: none;
    padding-right: 100px;
    max-height: 500px;
    overflow: auto;
}

.list-answers::-webkit-scrollbar {
    width: 15px;
}

.list-answers::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list-answers::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/**/
.list-answers::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
.list-answers::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

.list-answers::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
.list-answers::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

.list-answers::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}


.answers-element{
    background-color: #F6F8F8;
    border: 1px solid #8E8E93;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 2;
    padding: 5px 10px 5px 20px;
}
.img-form img{
    width: 856px;
    height: 210px;
    border-radius: 10px;
}
.count-number-answers {
    border-radius: 50%;
    border: 1px solid #fdb813;
    float: right;
    position: relative;
    padding: 0px 10px 0px 10px;
}
.colchart{
    width: 750px;
    height: 570px;
    overflow-x: auto;
    overflow-y: auto;
}
.homePage-return{
    font-size: 16px;
    margin-top: 1%;
    margin-left: 26%;
    padding: 10px 0px;
}
.importantRule{
    width:900px !important;
}
.cssClassAdd{
    position: relative;
    left: 105px;
}
.maginL{
    margin-left:320px;
}



.colchart::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.colchart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.colchart::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/**/
.colchart::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
.colchart::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

.colchart::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
.colchart::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

.colchart::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

/* ////////\\\\\\\ */
/* right */
.colchart::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #555555;
}

.colchart::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    border-color: transparent transparent transparent #777777;
}
/* left */
.colchart::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 8px 8px 8px 0;
    border-color:  transparent #555555 transparent transparent;
}
.colchart::-webkit-scrollbar-button:horizontal:single-button:decrement:hover {
    border-color:  transparent #777777 transparent transparent;
}


.chart::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.chart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chart::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/**/
.chart::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
.chart::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

.chart::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
.chart::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

.chart::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}