@media screen and (max-width: 767px) {
    .list-question {
        display: none; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .main-div{
        margin-left: 10px;
    }
    .colchart{
        width: 450px;
        height: 350px;
    }
    div.chart {
                width: 335px !important;
                /*height: 100%;*/
            }
    .maginL{
        margin-left: 20px !important;
    }
    .homePage-return{
        margin-left: 30px;
    }
}
@media only screen
and (min-device-width : 411px)
and (max-device-width : 731px)  {
    .colchart{
        width: 550px;
        height: 350px;
    }
    div.chart {
        width: 365px !important;
        /*height: 100%;*/
    }
    .maginL{
        margin-left: 20px !important;
    }
    .homePage-return{
        margin-left: 30px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    div.chart {
        width: 300px !important;
        /*height: 100%;*/
    }
    .maginL{
        margin-left: 20px;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .list-question {
        display: none;
    }
    div.chart {
        width: 750px !important;
        /*height: 100%;*/
    }
    .colchart{
        width: 700px;
        height: 350px;
    }
    .container-fluid{
        margin-left: 15px !important;
    }
    .maginL{
        margin-left: 20px !important;
    }
    .homePage-return{
        margin-left: 30px;
    }
    .navbar-right{
         margin-right: 95px !important;
    }
}

@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .colchart{
        width: 700px;
        height: 350px;
    }
    div.chart {
        width: 530px !important;
        /*height: 100%;*/
    }
    .list-question {
        display: block;
    }
    .list-question {
        margin-left: 20px;
        margin-right: 15px;
    }
    .maginL{
        margin-left: 20px !important;
    }
    .homePage-return{
        margin-left: 270px;
    }
}