@import "font.css";
.changePassword .block-change {
  padding-top: 160px;
  display: flex;
  justify-items: center;
  justify-content: center;
}
.changPassword form{

}
.changePassword .block{
    width: 400px;
    height: 300px;
      border: 1px solid #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.changePassword .block .text{
    text-align: center;
    padding-top: 20px;
}
.changePassword input[type="text"],
input[type="text"] {
width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #f8f9fd;
    box-sizing: border-box;
    background: #f8f9fd;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    position: relative;
    left: 25px;
    top: 30px;
}
.changePassword button {
    width: 80px;
    height: 40px;
    background-color: #fdb813;
    color: white;
    font-weight: bold;
    border: 1px solid #fdb813;
    padding: 10px;
    margin: 10px !important;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px !important;
    position: relative;
    top: 45px;
    left: 130px;
}

.changePassword button:hover {
  opacity: 0.8;
}
