@import "../font/font.css";

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.login body {
  font-family: "Open Sans", sans-serif;
}
.login .block-login {
  padding-top: 160px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.login .block{
  width: 240px;
  height: 380px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.login .modal-body input{
  width: 255px !important;
}

.login input[type="text"],
input[type="password"] {
  width: 200px;
  height: 40px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #f8f9fd;
  box-sizing: border-box;
  background: #f8f9fd;
  border-radius: 20px;
  margin: 8px;
  outline-style: none;
}
.login .imgSize {
  width: 74px;
  height: 44px;
}
.login .btnDN {
  width: 200px;
  height: 40px;
  background-color: #fdb813;
  color: white;
  font-weight: bold;
  border: 1px solid #fdb813;
  padding: 10px;
  margin: 10px !important;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px !important;
  outline-style: none;
}

.login button:hover {
  opacity: 0.8;
}

.login .notification{
  margin-left: 60px;
  margin-top: 5px;
  color: red;
  display: none;
}
.login .imgContainer {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 40px;
}
.login .block-login p {
  text-align: center;
  padding: 20px;
}
.login .btn-lg{
  font-size: 14px;
  color: blue;
  width: 100%;
  position: relative;
  bottom: 25px;
}
.login .location-Views{
  position: relative;
  top: -38px;
  left: 183px;
}
.login .location-DN{
  position: relative;
  top: -20px;
}
.login .btnDN{
  position: relative;
  top: -17px;
  left: -2px;

}