@import "/resources/css/font/font.css";
body{
    background-color: #feefcd !important;
}
.response-done{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px #e6e6e6;
    border-top: solid 12px  #FCB71E ;
}
.response-done a{
    text-decoration: underline;
}
.form-thank{
    padding: 15px;
}