.media .modal-content{
    width: 667px;
    height: 470px;
}
.media .modal-header{
    border-bottom: none;
    padding-top: 35px;
}
.media .libraryPicture{
    text-align: right;
}
.media .libraryPicture .text{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: normal;
}
.media .libraryPicture .text:hover{
    color: #FDB813;
}
.media .uploadPicture{
    text-align: left;
}
.media .uploadPicture .text{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.media .uploadPicture .text:hover{
color: #FDB813;
}
.media .modal-body{
    position: relative;
    padding: 25px !important;
}
.media .modal-footer{
    border-top: none;
}
.media .btn{
    border-radius: 50px;
    width: 160px;
    height: 40px;
    background: #FDB813;
    font-weight: normal;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 175px;
}
.media .btnUpload{
    border-radius: 50px;
    width: 160px;
    height: 40px;
    background: #FDB813;
    font-weight: normal;
    color: #fff;
    position: fixed;
    bottom: 240px;
    right: 175px;
}
.media .col-md-3{
    float: left;
    width: 150px;
    height: 90px;
    padding: 10px;
}
.media .modal-body .out .img1{
    width: 140px;
    height: 80px;
}
.media .modal-body .out .img2{
    position: relative;
    top: -96px;
    right: -108px;
}
.media .modal-body .out:hover .img1{
    width: 145px;
    height: 85px;
}
.media .isChoice{
    pointer-events: none;
    border-top: 5px solid #144E8C;
    padding: 12px;
}
.media .isSelect{
    background: #fff;
    position: relative;
    top: -80px;
    right: -116px;
    display: flex !important;
}
.media .imggg{
    display: none;
}
/* reponsive */
@media screen and (max-width: 767px){
    .media .modal-content{
        width: 355px;
        height: 600px;
    }
    .media .btn{
        border-radius: 50px;
        width: 160px;
        height: 40px;
        background: #FDB813;
        font-weight: normal;
        color: #fff;
        position: fixed;
        bottom: 35px;
        right: 100px;
    }
    .media .uploadPicture{
        text-align: left;
        float: left;
    }
    .media .btnUpload{
        border-radius: 50px;
        width: 160px;
        height: 40px;
        background: #FDB813;
        font-weight: normal;
        color: #fff;
        position: fixed;
        bottom: 240px;
        right: 100px;
    }
    .media .libraryPicture{
        text-align: right;
        float: left;
    }
    .media .modal-body{
        margin-top: 30px;
        height: 393px;
        overflow: scroll;
        position: absolute;
        padding: 25px !important;
    }
}
@media screen and ( min-width: 768px) and (max-width: 1366px){
    input[type="file"]{
        color: transparent ;
    }
}
