@media screen and (max-width: 767px) {
    .container {
        width: 100% !important;
    }

    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .form-content {
        width: 100%;
    }

    .navbar-header {
        width: 100%;
    }

    .nav-list {
        display: none;
    }

    .nav-listbtn {
        display: none;
    }
    /*.alertx {*/
    /*    position: fixed;*/
    /*    top: 60px;*/
    /*    font-size: 14px;*/
    /*    width: auto !important;*/
    /*}*/
    /*.contentMessage {*/
    /*    text-align: right;*/
    /*    padding-right: 80%;*/
    /*}*/
    /* .btn-logout, .btn-question, .btn-result {
        width: 100%;
        border: none !important;
        color: #144E8C !important;
        text-align: left !important;
        background-color: white !important;
        margin: 0px !important;
    } */
    .nav-listBtnResponsive {
        display: block;
        margin-bottom: -7.5px !important;
    }

    .nav-listResponsive {
        display: flex;
        float: right;
    }

    .menuToggle {
        display: block;
        position: absolute;
        top: 15px;
        margin-left: 35px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        left: -4px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .menuToggle .burger {
        display: block;
        width: 27px;
        height: 4.7px;
        margin-bottom: 4px;
        position: relative;
        left: -20px;
        background: #FDB813;
        border-radius: 3px;
    }

    .menu {
        position: absolute;
        width: 300px;
        height: 785px;
        margin: -100px 0 0 -54px;
        padding: 50px;
        padding-top: 125px;
        background: white;
        list-style-type: none;
        font-weight: 600;
        font-size: 16px;
    }

    .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    .glyphicon-remove {
        font-size: 25px !important;
        float: right;
        top: -55px !important;
        left: 30px !important;
    }

    .glyphicon-option-vertical {
        left: 20px;
    }

    .sectionNumber {
        margin-left: -29px;
        margin-top: -70px;
    }

    .flLeft {
        width: 100%;
        position: relative;
        top: 25px;
        left: 3px;
    }

    .radio, .checkbox {
        width: 85%;
    }

    .flRight {
        position: absolute;
        float: left;
        margin-top: 0px;
        left: 46px;
    }

    .optionIconQuestion {
        margin-right: 20px;
    }

    .controlQuestion {
        margin-top: 40px;
        margin-left: -9px;
        float: left;
        font-size: 15px;
    }

    .controlQuestion ul {
        padding-left: 5px;
    }

    .controlQuestion ul li input {
        left: 5%;
    }

    .ctnQuestion {
        padding-top: 25px !important;
    }

    .moreOption, .titleShortAnswer, .descriptionShortAnswer {
        width: 68%;
    }

    .checkboxMultiGrid {
        width: 117%;
    }

    .cMGRows .moreOption {
        width: 100% !important;
    }

    #answerDropdown .labelDropdown {
        width: 92% !important;
    }

    .labelDropdown .btnRemove {
        float: right;
    }

    .col-xs-5 {
        width: 47.666667% !important;
    }

    .cMGRows .descriptionShortAnswer {
        width: 73%;

    }

    .cMGRows .btnRemove {
        position: relative;
        right: 0px !important;
        top: 30px;
    }

    .labelDropdown .btnRemove {
        top: 30px;
        right: 50px;
    }

    .cMGCols .btnRemove {
        position: relative;
        right: 10px;
    }

    .drdMenu {
        top: -30px !important;
        left: -125px !important;
        width: 100% !important;
    }

    .btnSubmit {
        text-align: center;
    }

    .btn-question {
        border-radius: 50px !important;
        border-color: #fdb813 !important;
        background-color: #fdb813 !important;
        padding: 8px 30px !important;
        font-weight: 550 !important;
        color: white !important;
        margin-right: 10px !important;
    }

    .flLeft .imageQuestion {
        width: 97%;
    }

    .isSelectSection {
        box-shadow: 0px -10px 0px rgba(253, 184, 19, 1);
    }

    .descriptionShortAnswer {
        width: 60% !important;
    }

    .pagingForm {
    }

    .progressPart {
        position: absolute;
        top: -75px;
    }

    .btnPrevious, .btnNext {
        padding-top: 25px;
    }

    [data-title]:after  {
        display: none;
    }

    .btnSubmit{
        display: block !important;
    }
}

@media screen and (max-width: 320px) {
    .checkboxMultiGrid .col-xs-5 {
        width: 47.666667% !important;
    }

    .checkboxMultiGrid .cMGCols {
        padding-left: 0px;
    }

    .cMGRows .descriptionShortAnswer {
        width: 70%;
    }

    .cMGCols .checkbox, .cMGCols .radio {
        width: 95%;
    }

    .labelDropdown .btnRemove {
        top: 26px;
        right: -5px !important;
    }

    .flLeft label {
        width: 103%;
    }

    .cMGCols .checkbox label, .cMGCols .radio label {
        padding-left: 22px !important;
    }

    .cMGCols .btnRemove {
        position: absolute;
        top: 41px;
        right: 14px !important;
    }

    label {
        max-width: none !important;
    }

    .progressPart {
        position: absolute;
        top: -85px;
    }

    [data-title]:after  {
        /*display: none;*/
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 100% !important;
    }

    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    [data-title]:after  {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .pagingForm {
        display: flex;
    }

    .buttonProgress {
        width: 50% !important;
    }

    .progressPart {
        width: 50% !important;
    }

    [data-title]:after  {
        /*display: none;*/
    }

    .indexShowUser{
        left: -104px !important;
    }
}
