body {
    background-color: #f8f8f8 !important;
}

.toast-bt {

}

.container-fluid {
    padding-top: 50px;
}

.ctnHeader {
    width: 800px !important;
}
.alertx{
    position: fixed;
    top: 60px;
    font-size: 14px;
    width: 400px;
}
.contentMessage {
    text-align: right;
    padding-right: 52%;
}
.navbar-style {
    position: fixed !important;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.navbar-nav > li > a:hover {
    background-color: white !important;
    color: #fdb813 !important;
}

.btn-question {
    border-radius: 50px !important;
    border-color: #fdb813 !important;
    background-color: #fdb813 !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: white !important;
    margin-right: 10px !important;
}

.btn-result {
    border-radius: 50px !important;
    border: 1px white solid !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: #fdb813 !important;
    margin-right: 10px !important;
}

.nav-listbtn .btn-result:hover {
    background-color: #fdb813 !important;
    color: white !important;
}

.btn-logout {
    border-radius: 50px !important;
    border-color: #fdb813 !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: #fdb813 !important;
}

.btn-logout:hover {
    background-color: #fdb813 !important;
    color: white !important;
}

.icon-bar {
    background-color: #fdb813 !important;
}

.form-content {
    width: 768px;
    margin: auto;
}

.titleAndDescription {
    background: #144E8C;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 35px 7% 25px 7%;
    margin-bottom: 23px;
}

.title {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 32px;
    background-color: #144e8c;
    color: white;
}

.description {
    width: 100%;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    background-color: #144e8c;
    color: white;
    margin-top: 15px;
}

::placeholder {
    color: #8E8E93;
}

input[type="text"] {
    outline: none;
}

.navbar-toggle {
    float: left !important;
}

.nav-listBtnResponsive {
    display: none;
}

.nav-listResponsive {
    display: none;
}

.menuToggle {
    display: none;
}

.formSection {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 70px 7% 25px 7%;
    margin-bottom: 23px;
}

.titleFormSection {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    background-color: #FFFFFF;
}

.descriptionFormSection {
    width: 100%;
    border-bottom: 1px solid white;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 32px;
}

.sectionNumber {
    position: absolute;
    margin-left: -54px;
    margin-top: -60px;
    background: #FDB813;
    border-radius: 0px 5px 5px 0px;
    width: 79px;
    height: 41.35px;
}

.sectionNumber label {
    width: 100%;
    position: absolute;
    left: 20.25%;
    right: 20.25%;
    top: 27.53%;
    bottom: 21.21%;
    font-size: 14px;
    font-weight: 600 !important;
    color: #FFFFFF;
}

.glyphicon-option-vertical {
    float: right;
    color: #8E8E93 !important;
    font-size: 18px;
    left: 35px;
    top: -50px !important;
    cursor: pointer;
}

.ctnQuestion {
    background: #F6F6FE;
    border: 1px solid #144E8C;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100% !important;
    margin-bottom: 24px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.titleShortAnswer {
    width: 70%;
    border-bottom: 1px solid white;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    background-color: #F6F6FE;
    margin-top: 15px;
}

.descriptionShortAnswer {
    width: 75% !important;
    border-bottom: 1px solid white;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    background-color: #F6F6FE;
    margin-top: 27px;
    font-weight: 100;
}

.typeQuestion {
    width: 178px !important;
    height: 37px !important;
    background: #144E8C !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1) !important;
    font-size: 14px !important;
    color: #FFFFFF !important;
}

.optionIconQuestion {
    left: 0;
    top: 0 !important;
}

.controlQuestion {
    font-size: 17px;
}

.controlQuestion ul {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
}

.controlQuestion ul li {
    margin-left: 20px;
}

.controlQuestion ul li input {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 0px;
    right: 37.5%;
}

.dropdown-menu {
    top: -300% !important;
    width: 178px !important;
}

.btnTypeQuestion {
    width: 178px !important;
    text-align: left !important;
    font-weight: 200 !important;
    background-color: #144E8C !important;
}

.glyphicon-chevron-down {
    float: right;
    top: 4px !important;
}

.eachQuestion {
    display: block;
}

.radio, .checkbox {
    margin-top: 20px !important;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
}

.radio input, .checkbox input {
    width: 20px;
    height: 20px;
    margin: -2px -20px 0 !important;
    left: 20px;
}

.moreOption {
    width: 100%;
    border-bottom: 1px solid white;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    background-color: #F6F6FE;
    margin-top: 10px;
}

.radio label, .checkbox label {
    padding-left: 30px !important;
}

.flLeft {
    width: 60%;
    position: relative;
    left: 10px;
    float: left;
}

.flRight {
    float: right;
    position: relative;
    margin-top: 15px;
    right: 45px;
    padding-right: 15px;
}

.moreOption, .titleShortAnswer, .descriptionShortAnswer, .radio, .checkbox {
    width: 82%;
}

.flLeft label {
    margin-bottom: 0px !important;
    margin-top: -12px !important;
    padding-bottom: 7px;
    width: 100%;
}

.checkboxMultiGrid {
    position: relative;
    left: -4%;
    width: 185%;
    padding-top: 25px;
}

.cMGCols, .cMGRows {
    padding-bottom: 10px;
}

.cMGCols .checkbox label {
    padding-bottom: 1px;

}

.cMGCols .checkbox {
    margin-top: 21px !important;
    width: 100%;
}

.cMGCols .radio label {
    padding-bottom: 0px;

}

.cMGCols .radio {
    margin-top: 21px !important;
    width: 100%;
}

.cMGRows .moreOption {
    width: 91% !important;
}

.cMGCols .moreOption {
    width: 100% !important;
}

.glyphicon-calendar {
    color: #8E8E93;
    font-size: 20px;
}

.glyphicon-time {
    color: #8E8E93;
    right: 30px;
    font-size: 20px;
    top: 35px !important;
    height: 24px !important;
}

.iconTimeEdit{
    top: 0px !important;
}

.typeAnswer .glyphicon-chevron-down {
    color: #8E8E93;
    right: 65px;
    top: 25px !important;
    font-size: 20px;
}

.eachQuestion .col-md-12 {
    overflow: auto;
}

.btnSubmit {
    text-align: center;
}

.radio .btnRemove, .checkbox .btnRemove {
    float: right;
}

.labelDropdown .btnRemove {
    position: relative;
    right: 0px;
}

.flLeft img {
    opacity: 0.5;
}

.drdRemoveSection {
    float: right;
}

.drdMenu {
    top: -30px !important;
    left: 35px !important;
    width: 100% !important;
}

.imgform img {
    max-height: 365px;
    width: 100%;
    padding-bottom: 25px;
}

.isSelectSection {
    box-shadow: -10px 0px 0px rgba(253, 184, 19, 1);
}

.flLeft .imageQuestion {
    width: 160%;
    margin-top: 5px;
    opacity: 1;
}

.drdRemoveImage .glyphicon-option-vertical {
    float: left;
    left: 3px;
    top: 35px !important;
    background-color: #F6F6FE;
    font-size: 25px;
}

.drdRemoveImage .glyphicon {
    position: relative;
    border-radius: 11px;
    padding-bottom: 2px;
    padding-left: 1px;
}

.drdRemoveImage {
    float: left;
}

.drdRemoveImage .drdMenu {
    top: 55px !important;
    left: 25px !important;
    width: 100% !important;
}

.viewTitleForm {
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: #144e8c;
    color: white;
    font-weight: normal;
}

.viewDescriptionForm {
    width: 100%;
    font-size: 14px;
    background-color: #144e8c;
    color: white;
    font-weight: normal;
}

.viewtitleFormSection {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #FFFFFF;
    font-weight: normal;
    color: #144E8C;
}

.viewdescriptionFormSection {
    width: 100%;
    height: auto;
    font-size: 14px;
    background-color: #FFFFFF;
    font-weight: normal;
    color: #8E8E93;
}

.viewEachQuestion {
    font-size: 16px;
    background-color: #F6F6FE;
    margin-top: 15px;
    font-weight: normal;
}

.viewDescriptionShortAnswer {
    width: 100%;
    border-bottom: 1px solid white;
    border: 1px solid rgba(20, 78, 140, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    background-color: #F6F6FE;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 100;
    resize: vertical;
    max-height: 100px;
}

.viewRadio {
    border: none;
}

.viewCheckbox {
    border: none;
}

.viewDropdownMenu {
    width: 200px !important;
}

.viewAddress {
    margin-bottom: 10px;
    margin-top: 20px;
}

.viewTime, .viewDate {
    margin-bottom: 15px;
}

.viewTime {
    margin-right: 4px;
    background-color: #eee !important;
    width: 55% !important
}

.iconTime {
    right: -30px;
}

.viewDate {
    width: 30%;
}

.checkboxRadioGrid {
    width: 20px;
    height: 20px;
}

.col-md-12 .imageQuestion {
    width: 100%;
    padding-bottom: 10px;
}

.labelDropdown .radioMulti, .labelDropdown .checkboxMulti {
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
}

.required {
    color: red;
}

/*Spinners*/
.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.homePage {
    position: relative;
    top: -10px;
    font-size: 16px;
}

.linkHomePage {
    color: #076DB6;
    text-decoration: none !important;
}

.titleShortDes {
    color: #757575 !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: #fdb813;
    font-size: 14px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -2em;
    left: 50%;
    white-space: nowrap;
    opacity: 0;
    border: 1px solid transparent;
    /*border-color: #fdb813 !important;*/
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative !important;
}

.labelDropdown {
    font-weight: normal !important;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.glyphicon-trash, .myCheck, .moreOption, .city, .district, .commune, .btnRemoveImg, .copyForm {
    cursor: pointer;
}

.nav > li {
    cursor: pointer;
}

.btnRemoveImg {
    float: right;
    position: relative;
    top: 25px;
    right: 6px;
}

.imgX {
    background: white !important;
    padding-bottom: 0px !important;
    border-radius: 50px;
    color: #fdb813;
    font-size: 22px;
}

.pagingForm {
    width: 768px !important;
    margin: auto;
}

.btn-previous, .btn-next {
    border-radius: 5px !important;
    padding: 8px 30px !important;
    color: #333 !important;
    margin-right: 15px;
    background: white !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.btn-previous:hover {
    background-color: #fdb813 !important;
    color: white !important;
}

.btn-next:hover {
    background-color: #fdb813 !important;
    color: white !important;
}

.progressPart {
    position: relative;
    top: 20px;
}

.showTextProgress {
    font-weight: normal;
    top: -2px;
    position: relative;
}

.buttonProgress {
    display: flex;
}

.btn-save {
    border-radius: 50px !important;
    border-color: #2e6da4 !important;
    background-color: #337ab7 !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: white !important;
    margin-right: 10px !important;
}

.glyphicon-duplicate {
    color: white;
    font-size: large;
    float: right;
}

.copyForm {
    display: none;
    position: relative;
    right: -5.5%;
    float: right;
}

.modal-content {
    width: 75%;
    margin: auto;
    padding-right: 0px !important;
}

.modal-footer {
    text-align: center !important;
    border-top: none !important;
    padding-bottom: 35px !important;
}

.modal-body {
    padding: 0px !important;
}

.modal-header {
    text-align: center !important;
    color: #144E8C;
    border-bottom: none !important;
    padding-top: 35px !important;
}

.modal-dialog {
    margin: 60px auto !important;
}

.inputTitleCopy {
    text-align: center;
    height: 45px !important;
    width: 85% !important;
    margin: auto;
    border: 1.2px solid #144E8C !important;
}

.btn-copyDone {
    border-radius: 50px !important;
    border-color: #fdb813 !important;
    background-color: #fdb813 !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: white !important;
    margin-right: 10px !important;
}

.btn-copyClose {
    border-radius: 50px !important;
    border-color: #fdb813 !important;
    background-color: white !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: #fdb813 !important;
    margin-right: 10px !important;
}

/**/
.user-boder {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    border: 3px double orange !important;
}

.indexShowUser {
    width: 160px !important;
    top: 46px !important;
    right: -65px !important;
    background-color: #fdfdfd !important;
}

.avatar {
    border: 2px double orange !important;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.dropdown-title {
    display: block;
    padding: 1rem 2.5rem;
    font-weight: 400;
    color: #212529;
    font-size: 16px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem 2.5rem;
    clear: both;
    font-weight: 400 !important;
    color: #8e8e93 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13.5px !important;
    text-decoration: none !important;
}

.dropdown-item:hover {
    color: black !important;
    font-weight: 700;
    background: #f8f8f8 !important;
}

#myModalUser .modal-content {
    width: 667px;
    height: 470px;
    top: -32px;
    right: -49px;
}

.headerTitleAvatar {
    width: 100%;
    text-align: left;
    padding-left: 20px !important;
    color: black !important;
    margin-top: 0 !important;
    font-size: 29px !important;
}

.btn-close {
    position: relative;
    font-size: 38px !important;
    right: 20px;
    top: -68px;
    font-weight: 500 !important;
    opacity: 0.5 !important;
}

.btn-close:hover {
    opacity: 1 !important;
}

.btn-cancel, .btn-ok {
    position: relative;
    border-radius: 50px !important;
    width: 80px;
    height: 40px;
    background: #FDB813 !important;
    color: #fff !important;
    margin-bottom: 0 !important;
}

/*#Modal-Upload {*/
/*    height: 253px;*/
/*}*/


.modal-footerUser {
    text-align: right !important;
    position: relative;
    top: 205px;
    right: 39px;
}

.dateCalenda {
    width: 55% !important;
}

.containInputTime {
    display: flex;
}

.table td {
    width: 200px;
    text-align: center;
}

.rowsValue {
    width: 20% !important;
    text-align: left !important;
}