@import "/resources/css/font/font.css";
.body{
 background: rgba(237, 241, 242, 0.5);
}
.pull-left{

}

/* Header */
.header .block .dropdown-title{
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .index-block-user{
  position: relative;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 5px;
}
.header .user-block {
  position: relative;
  width: 128px;
  height: 32px;
  top: -3px;
}
.header .user-respon{
  display: none;
}
.header .user-boder{
  border-style: double;
  border-radius: 50%;
  border-color: orange;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
}
.header .block {
  height: 58px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.home .modal-copy-link .btn{
  width: 100px;
  border-radius: 50px;
  border-color: #fdb813;
  outline-style: none;
  font-weight: bold;
}
.alertx{
  position: fixed;
  top: 60px;
  font-size: 13px !important;
  width: 400px;
}
.contentMessage {
  text-align: right;
  padding-right: 52%;
}
.home .modal-copy-link .btn-ok{
  color: #FFFFFF;
  background: #FDB813;
}
.home .modal-copy-link .btn-cancel{
  color: #FDB813;
  background: #FFFFFF;
}

.home .show-link{
  border: none;
  border-bottom: groove;
  outline-style: none;
  padding-bottom: 5px;
  padding-top: 15px;
  width: 100%;
}

.header .container{
  width: 800px;
}
/* font */
.block .font-size-normal {
  color: #8e8e93;
}
.block .font-size-normal:hover{
  font-weight: 700;
}
/* Navbar */
.header .block .navbar {
  padding-top: 12px !important;
}
.header .block .navbar-nav {
  flex-direction: row;
}
.header .block .nav-link {
  width: 120px;
  padding: 5px 12px !important;
}
.header .search{
  position: relative;
  padding-left: 14px;
  font-size: 12px;
  width: 170px;
  height: 32px;
  margin-left: 2px;
  border: 1px solid #d9d9d9 !important;
  border-radius: 50px !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

}
.header .search-text{
  height: 25px;
  width: 136px;
  border: none;
  position: relative;
  top: 2px;
  left: -6px;
  outline-style: none;

}
.header .location-search-button{
  position: absolute;
  top: 6px;
  color: #d9d9d9;
  cursor: pointer;
  font-size: 17px;
  float: right;
  right: 9px;
}
/* image */
.header .block .padding-img-vector {
  padding-right: 20px;
}
.header .block .padding-input-search{
  padding-left: 40px;
}
.header .block .imgButton {
  display: none;
}
/* Dropdown */
.header .block .border-dropdown{
  height: 32px;
  min-width: 131px;
  border: 1px solid #d9d9d9 !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.header .block .dropdown-toggle::after {
  position: relative;
  left: 100px;
  color: black;
  top: -12px;
}
.dropdown-menu{
  width: 131px !important;
}
.header .user-block .dropdown-menu{
  width: 160px !important;
}
.header .block .dropdown-menu {
  background-color: #fdfdfd;
  min-width: 0;
  position: absolute;
}
.header .block .dropdown a:hover,
.home .block .dropdown a:hover {
  color: #8e8e93 !important
  ;
}
.header .block .btn-logout {
  border-radius: 50px !important;
  border-color: #fdb813 !important;
  padding: 5px 30px !important;
  font-weight: 550 !important;
  color: #fdb813 !important;
}
.header .block .indexShowUser{
  top: 100px;
  left: 0px !important;
  transform: translate3d(28px, -60px, 0px) !important;
}
.header .block .btn-logout {
}
.header .block .menu-show{
  display: none;
}
.pagination li a {
  border: 1px solid #ddd !important;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 12px;
  background-color: #bfbfbf;
}
.pagination li a:hover{
  color: darkgray;
}
/* Reponsive */
@media screen and (max-width: 1366px){
  input[type="file"]{
    color: transparent ;
  }
}
@media screen and ( min-width: 768px) and (max-width: 1023px){
  .home .block .font2{
    padding-top: 30px !important;
  }
  .home .btn-new{
    width: 160px!important;
    height: 200px!important;
  }
  .home .btn-form{
    width: 160px!important;
    height: 200px!important;
  }
  .home .block .imgSizeForm{
    width: 160px!important;
    height: 140px!important;
    background-size: cover;
    background-image: url(/resources/img/home/image3.png);
  }
  .home .block .location-SaveLink2{
    position: relative !important;
    top: 9px !important;
    right: -123px !important;
  }
  .home .block .location-SaveLink1{
    position: relative !important;
    top: 1px !important;
    right: -128px !important;
  }
  .home .question-element{
    width: 120px !important;
  }
  input[type="file"]{
       color: transparent ;
     }
}
@media screen and (max-width: 767px) {
  .header .block .padding-input-search{
    padding-left: 0px;
  }
  .header .block .padding-avatar-user{
    position: relative;
    width: 22px;
    height: 32px;
    top: -3px;
  }
  .header .width{
    width: 100%;
  }
  .index-button{
    position: absolute;
  }
  .header .block .btn-logout {
    display: none;
  }
  .header .user-respon{
    display: block;
    width: 70px;
  }
  .header .block .padding-img-vector {
    display: none;
  }
  .header .user-boder{
    float: left !important;
    top: -4px;
    left: -20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  .header .block .indexShowUser{
    position: relative !important;
    top: 36px !important;
    left: -18px !important;
    transform: translate3d(-100px, -22px, 0px) !important;  }
  .header .block .imgButton {
    display: block;
    width: 70px;
    right: 20px;
    height: 32px;
    outline-style: none;
  }
  .header .block .nav-link {
    float: left;
    padding: 5px 0px !important;
  }
  .header .block .imgVector {
    display: none;
  }
  .header .block .menu {
    display: none;
  }
  .header .block .dropdown-menu {
    margin-top: 40px !important;

  }
  .home .block .dropdown-menu{
    will-change: transform !important;
    transform: translate3d(-9px, -117px, 0px) !important;
  }

  .header .block .indexShow{
    position: absolute;
  }
 .header .menu-show{
   display: block;
 }
  .header .container{
  width: 100% !important;
}
}
/* Home */
.home .block {
  padding-top: 30px;
}
.home .dropup{
  position: relative;
  right: 10px;
}
.home .block .onOff{
  opacity: 0.4;
}
.home .block .on{
  display: none;
}
.home .question-element {
  width: 140px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 13px 0px 6px 19px;
}
.home .container {
  width: 800px;
}
.home .block .text{
  text-decoration: none;
}
.home .btn-new {
  width: 177px;
  height: 225px;
  border: 1px solid #fdb813;
  background-color: #fdb813;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.home .btn-form{
  width: 176px;
  height: 225px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.home .block .font-size-normal{
  line-height: 22px;
}
.home .block .font2{
  color: #fff;
  font-weight: 600;
  line-height: 22px;
  padding-top: 47px;
}
.home .block .font1{
color: black;
  text-decoration: none;
}
.home .block .font1:hover{
  color: #FDB813;
  text-decoration: none;
}
.home .block .block-menu{
  padding: 20px 0;
}
.home .block .imgAdd {
  text-align: center;
  padding-top: 57.6px;
}
.home .block .imgForm {
}
.home .block .imgSize {
  width: 66.67px;
  height: 66.67px;
}
.home .block .copyLink{
  position: absolute;
  bottom: 187px;
}
.home .block .copy-Url-Modal{
  padding-top: 100px;
}
.home .block .imgSizeForm {
width: 176px;
height: 160px;
background-image: url(/resources/img/home/image3.png);
}
.home .block .location-imgMore{
  border-radius: 50%;
  padding: 5px 12px 5px 12px;
  position: relative;
  top: 23px;
  right: -16px;
  color: #144E8C;
  font-size: 20px;
}
.home .block .location-imgMore:hover{
  background: #e6e6e6;
}
.home .block .location-SaveLink1{
  position: relative;
  top: -23px;
  right: -140px;
  font-size: 20px;
  color: #144E8C;
}
.home .block .location-SaveLink2{
  width: 0px;
  font-size: 40px;
  position: relative;
  top: -17px;
  right: -136px;
  color: #fff;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.home .block .col-10,
.home .block .col-2{
  padding: 0px !important;
}
.home .block-modal-dialog{
  display: flex;
  padding-top: 160px;
}
.home .block-modal-dialog .modal-header{
  border-bottom: none;
  justify-content: center;
  padding-top: 32px;
  color: #144E8C;
  font-size: 14px;
}
.home .block-modal-dialog .modal-footer{
  border-top: none;
}
.home .block-modal-dialog .modal-content{
  width: 346px;
  height: 181px;
}
.home .block-modal-dialog .form-control{
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #144E8C;
  box-sizing: border-box;
  border-radius: 5px;
}
.home .block-modal-dialog .modal-body{
  padding-top: 0px;
  height: 40px;
}
.home .block-modal-dialog .btn{
  width: 100px;
  border-radius: 50px;
  border-color: #fdb813;
  outline-style: none;
  font-weight: bold;
}
.home .block-modal-dialog .btn-ok{
  color: #FFFFFF;
  background: #FDB813;
}
.home .block-modal-dialog .btn-cancel{
  color: #FDB813;
  background: #FFFFFF;
}

.home .btn-lg{
  font-size: 14px;
  width: 100%;
}
.home .notification{
  margin-left: 60px;
  margin-top: 5px;
  color: red;
  display: none;
}
/* Responsive */
@media screen and (max-width: 767px){
  /*.home  .block-menu{*/
  /*  display: none;*/
  /*}*/
  .home .modal-copy-link{
    width: 375px;
  }
  .home .block-modal-dialog .modal-content{
    width: 365px;
    height: 181px;
  }
  .home .btn-new{
    width: 150px;
  }
  .home .block .copy-Url-Modal{
    width: 357px;
    padding-top: 100px;
  }
  .home .btn-form{
    width: 150px;
  }
  .header .block .indexShow{
    position: relative;
    top: 12px;
    left: -12px;
  }

  .home .block .imgSizeForm{
    width: 150px;
    height: 100px;
    background-image: url(/resources/img/home/image3.png);
    background-size: cover;
  }
  .home .block .location-imgMore{
    border-radius: 50%;
    padding: 5px 12px 5px 12px;
    position: relative;
    top: 20px;
    right: -125px;
    color: #144E8C;
    font-size: 20px;
  }
  .home .block .location-imgMore:hover{
    background: #e6e6e6;
  }
  .col-md-3{
    display: none;
    width: 100% !important;
  }
  .col-10,.col-2,
  .col-sm-6{
    display: block;
    width: 50% !important;
  }
  .home .container {
    width: 100% !important;
}
.home .block {
  padding-top: 40px;
}
.home .block .location-SaveLink2 {
  position: relative;
  top: 153px;
  right: -18px;
}
.home .block .location-SaveLink1 {
  position: relative;
  top: 147px;
  right: -22px;
}
}

