.media .modal-content{
    width: 667px;
    height: 470px;
}
.btn-question{
    border-radius: 50px !important;
    border-color: #fdb813 !important;
    background-color: #fdb813 !important;
    padding: 8px 30px !important;
    font-weight: 550 !important;
    color: white !important;
    margin-right: 10px !important;
}
.media .modal-header{
    border-bottom: none;
    padding-top: 35px;
}
.media .avatar{
    border-color: orange;
    border-style: ridge;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.media .libraryPicture{
    text-align: right;
}
.modal-header .close{
    padding: 5px !important;
}
.media  .btn-close{
    position: relative;
    font-size: 35px;
    right: 30px;
    top: -20px;
}
.media .libraryPicture .text{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: normal;
}
.media .libraryPicture .text:hover{
    color: #FDB813;
}
.media .uploadPicture{
    text-align: left;

}
.media .uploadPicture .text{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.media .uploadPicture .text:hover{
color: #FDB813;
}
.media .modal-body{
    position: relative;
    padding: 25px !important;
}
.media .modal-footer{
    border-top: none;
}
.media .btn{
    position: relative;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    background: #FDB813;
    font-weight: normal;
    color: #fff;
    bottom: 10px;
    right: 40px;
}
.media .btnUpload{
    border-radius: 50px;
    width: 160px;
    height: 40px;
    background: #FDB813;
    font-weight: normal;
    color: #fff;
    position: fixed;
    bottom: 240px;
    right: 175px;
}
.media .col-md-3{
    float: left;
    width: 150px;
    height: 90px;
    padding: 10px;
}
.media .modal-body .out .img1{
    width: 140px;
    height: 80px;
}
.media .modal-body .out .img2{
    position: relative;
    top: -96px;
    right: -108px;
}
.media .modal-body .out:hover .img1{
    width: 145px;
    height: 85px;
}
.media .isChoice{
    pointer-events: none;
    border-top: 5px solid #144E8C;
    padding: 12px;
}
.media .isSelect{
    background: #fff;
    position: relative;
    top: -80px;
    right: -116px;
    display: flex !important;
}
.media .imggg{
    display: none;
}
/* reponsive */
@media screen  and (min-width: 768px) and (max-width: 1024px){
    .media .modal-content {
        width: 530px;
        height: 470px;
    }
}
@media screen and (max-width: 767px){
    .media .avatar{
        position: relative;
        top: -50px;
        right: -40px;
    }
    .media .col-sm-6{
        float: none;
        position: relative;
        bottom: -100px;
    }
    .media .modal-content{
        width: 355px;
        height: 600px;
    }
    .media  .btn-close{
        position: relative;
        font-size: 35px;
        right: 8px;
        top: -25px;
    }
    .media .btn{
        border-radius: 50px;
        width: 80px;
        height: 40px;
        background: #FDB813;
        font-weight: normal;
        color: #fff;
        position: relative;
        top: 455px;
    }
    .media .uploadPicture{
        text-align: left;
        float: left;
    }
    .media .btnUpload{
        border-radius: 50px;
        width: 160px;
        height: 40px;
        background: #FDB813;
        font-weight: normal;
        color: #fff;
        position: fixed;
        bottom: 240px;
        right: 100px;
    }
    .media .libraryPicture{
        text-align: right;
        float: left;
    }
    .media .modal-body{
        margin-top: 30px;
        height: 393px;
        position: absolute;
    }
}
